/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body {

}

h1,
h2,
h3,
h4,
h5,
h6 {

}

p {

}


/* Elements
--------------------------------------------- */
ul {

}

ol {

}

dl {

}

figure {

}

table {

}

/* Links
--------------------------------------------- */
a {

}

a:visited {

}

a:hover {

}

a:focus {

}

a:active {

}


/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header 
--------------------------------------------- */
//main header styles

.home header {
	kjfhakjfhsak
}

.cuisine header {

}

/* Main
--------------------------------------------- */
/* Specific styles for each page go here */

/* Home Page */

/* Section 1 */

//basic styles mobile 

@media 

/* Section 2 */
//basic styles mobile 

@media 

/* History Page */

/* Section 1 */
//basic styles mobile 

@media 

/* Culture Page */

/* Credits Page */

/* desktop  */
@media (min-width:50em) {


}



/* Footer
--------------------------------------------- */
 Binary file addedBIN +29.8 MB 
videos/China-city-and-road.mp4